#sec-btn {
    color: red;
}
#sec-btn:hover {
    color: black;
}
#not-btn {
    color: orange;
}
#not-btn:hover {
    color: black;
}
#bill-btn {
    color: blue;
}
#bill-btn:hover {
    color: black;
}
.nav-link:hover {
    font-style:italic;
    color: black;
    cursor: pointer;
}


#settings.active {
    display: none;
}
#settings.active {
    display: block;
}
#notifications {
    display: none;
}
#notifications.active {
    display: block;
}
#data {
    display: none;
}
#data.active {
    display: block;
}
#billing {
    display: none;
}
#billing.active {
    display: block;
}

