#settings.active {
    display: none;
}
#settings.active {
    display: block;
}
#notifications {
    display: none;
}
#notifications.active {
    display: block;
}
#data {
    display: none;
}
#data.active {
    display: block;
}
#billing {
    display: none;
}
#billing.active {
    display: block;
}

/* #upgradeModal {
    
} */
/* Styles for the modal */
.pricing-plan {
    border: #007BFF 1px solid;
    padding: 20px;
    border-radius: 30px;
    width: 100%; /* Make sure it takes full width of the column */
    background-image: url('../../images/payment.svg'); /* Update with your image path */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-align: center; /* Center align text and button */
}


