{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="../static/static_for_dashboard/css/dashboard.css">
	<link rel="stylesheet" href="../static/static_for_dashboard/css/d3.css">
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/d3-cloud@2.0.13/build/d3.layout.cloud.js"></script>
{% endblock head %}

{% block body %}
    <main>
		<div class="container mt-5 mb-2" >
            <!-- Trigger/Open The Modal -->
            <h1>Dashboard</h1>
            <nav class="nav nav-borders mt-3">
                <a class="nav-link" id="overview-btn" data-target="#overview">Items overview</a>
                <!-- <a class="nav-link" id="monitoring-btn" data-target="#monitoring">Monitoring</a> -->
                <a class="nav-link" id="reports-btn" data-target="#reports">Logistics Reports</a>
                <!-- <a class="nav-link" id="to-do-btn" data-target="#to-doEvents">To-Do Events</a> -->
            </nav>
        </div>
        <hr>
        <div class="events" id="overview">
			<div id="chart-items">
				<label for="category">Category:</label>
				<select id="category"></select>
			
				<label for="bench">Bench:</label>
				<select id="bench"></select>
			
				<label for="class">Class:</label>
				<select id="class"></select>
			
				<label for="quantity">Slide Quantity Level:</label>
				<input type="range" id="quantity" min="0" max="500" step="5" value="250">
				<span id="quantityValue">500</span>
			</div>  
			<!-- <div id="chart-channels"></div>  -->
			<!-- <div id="chart-piu"></div> -->
			<!-- <div id="chart-events"></div> -->
			<!--  <div id="chart-shipments"></div> -->
        </div>
   
        <div class="events" id="reports">
            <div class="filterContainer" style="padding-bottom:10px">
                <div class="swap-container">
                    <div class="carder" id="from-card">
                        <span id="fromLocation">Central Store</span>
                    </div>
                    
                    <button id="swap-btn" class="swap-button" title="Swap locations">
                      <i class="fas fa-arrow-right" id="direction" data-direction="right"></i>
                    </button>
                        <!-- Empty container for the dynamic select -->
                    <div class="carder" id="to-card">
                        <!-- The select will be rendered here -->
                    </div>
                </div>
                  
                <!-- <input type="text" class="autoInputRegions" id="toLocation" placeholder="To which location"> -->
                <div class="row">
                    <!-- <div class="col-3">
                        <h6>Select a date range:</h6>
                    </div> -->
                    <div class="col-3">
                        <input type="text" class="date-range" id="machine-date-range" placeholder="Select date range">
                    </div>
                </div>
                <!-- <button id="applyFilter">Apply</button> -->
            </div> 
            <div class="row" id="operationsBoard">
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: auto; min-height: 150px;">
                        <div class="card-header py-2">Total weights carried:</div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="display-4 text-primary">0Kg</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: auto; min-height: 150px;">
                        <div class="card-header py-2">Total Number of Shipments:</div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="display-4 text-danger">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: auto; min-height: 150px;">
                        <div class="card-header py-2">Total Price:</div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="display-4 text-success">₦0.00</span>
                        </div>
                    </div>
                </div>
            </div>       
            <div class="row" id="logisticsTable">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-header">Shipments:</div>
                        <div class="card-body p-0">
                            <!-- Billing history table -->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-gray-200" scope="col">Laboratory</th>
                                            <th class="border-gray-200" scope="col">Total Shipments</th>
                                            <th class="border-gray-200" scope="col">Total Weights</th>
                                            <th class="border-gray-200" scope="col">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody id="shipmentTableBody">
                                        <!-- Rows will be added here dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="events" id="operationEvents">
            <h3>Operations Events</h3>
            <!-- <div class="filterContainer">
                <h6>Select a date range:</h6>
                <input type="text" class="date-range" id="operation-date-range" placeholder="Select date range">
                <button class="applyFilter">Apply Filter</button>
            </div> -->
            <div class="eventContainer" id="operationEventContainer">
                <!-- Cards will be dynamically added here -->
            </div>
            <div class="table-responsive" id ="ex-oper-r_table">
                <h6>Select a date range:</h6>
                <input type="text" class="date-range" id="operation-date-range" placeholder="Select date range">
                <table class="table table-bordered table-striped" id="oper-r_table">
                    <thead class="head thead-dark">
                        <tr id="">
                        </tr>
                    </thead>
                    <tbody id="tbody" class="body" >
                        <tr id=''>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<div id="tooltip" style="position: absolute; visibility: hidden; padding: 10px; background-color: white; border: 1px solid #ccc;"></div>

	</main>
{% endblock %}

{% block scripts %}
    <script src="../static/static_for_dashboard/js/dashboard.js" type="text/javascript"></script>
	<script src="../static/static_for_dashboard/js/d3.js" type="text/javascript"></script>

{% endblock %}