@import "header.css";
@import "footer.css";
@import "main.css";
@import "clock.css";
/* @import "channels.css"; */

body {
    background-color: #DBDEE3;
    /* background-image: url('../images/CLINICALX.png');  */
    background-size: 100% 100%;  /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center down; /* Center the background image */
    background-attachment: fixed; 
}

h1 {
    color: #747F9D;

}
.bodyof {
    width: 10%;
    margin-left: 50px
}

#sidebar-wrapper {
    width: 55px;
    height: 100vh;
    position: sticky;
    top: 0;
    
}

#sidebar-wrapper:hover {
    width: 155px;
    position: sticky;
    top: 0; 
    .bodyof {
        width: 80%;
        /* margin-left: 60px */
    }
} 

#sidebar-wrapper .fas {
    margin-right: 10px;
}

#sidebar-wrapper span {
    display: none;
}

#sidebar-wrapper:hover span {
    display: inline;
    color: white;
}
.location input {
    border: 2px solid #DDDDDD;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
}
.tablebtn{
    width: 30px;
    margin-left: 20px;
}


.push-down {
    position: sticky;
    display: flex-end;
}


.su {
    position: absolute; /* Position the div absolutely */
    bottom: 0; 
    width: 100%; /* Set the width of the div */
}

.toast-container {
    font-family: "Font Awesome"; /* If you're using a font icon library like Font Awesome */
    font-size: 24px; /* Adjust the font size of the icon */
    margin-right: 10px; /* Optional: Adjust the spacing between the icon and the notification message */
    background-color: antiquewhite;
}

.expire-table {
    background: linear-gradient(to right, #e25330, #3157aa); /* Gradient background */
}

