body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-box {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color:#B8DAF0;
    color: #000;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.user-message, .chatbot-message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    word-wrap: break-word;
}

.user-message {
    background-color: #d2f7d4;
    align-self: flex-end;
}

.chatbot-message {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

/* button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
} */