.toDoContanier {
    display: flex;
}
#add-todo {
    padding: 5px 10px;
    border: 1px solid #0e0c0c;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    cursor: pointer;
}

.carder {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 29%;
    margin-top: 10px;
    width: 100%;
    height: 280px;
    overflow-x:auto;    
    overflow-y: hidden; 
    overscroll-behavior-inline: contain;
}
.mycard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    height: 250px;
} 

.mycard img {
    inline-size: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #343A40;
    color: white;
}

.card-body{
    border: 1px solid #82C8F7;
    border-radius: 25px;
}

.card-body:hover {
    box-shadow: 0px 0px 10px 0.2rem rgb(255, 255, 255);
    border-radius: 25px;
}

.card-link {
    height: 90%;
}

.snap-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 5px;
}

.snap-inline * {
    scroll-snap-align: start;
}

.hr {
    margin-top: 2%;
}



.completed {
    text-decoration: line-through;
}

.draggable {
    cursor: move;
}




.card{
    margin:20px;
}

.task-list, .completed-list {
    padding-left: 0;
}
.task-list li, .completed-list li {
    list-style-type: none;
}
.task-list input[type="checkbox"], .completed-list input[type="checkbox"] {
    margin-right: 10px;
}



.delete-date-card {
    display: flex;
    padding: 5px;
    width: auto;
    background: none;
    border: none;
    align-self: end;
    color: #FF7E22;
    border-radius: 25px 25px 25px 25px;
    box-shadow: none;
}
.delete-date-card:hover {
    background-color: #FF7E22;
    color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: none;
}
/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .toDoContanier {
        flex-direction: column;
        align-items: stretch;
    }

    .todo-input-container input, .todo-input-container button {
        margin-bottom: 10px;
        width: 100%;
    }

    .carder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        overflow-x: scroll;
    }

    .mycard {
        height: auto;
        width: 100%;
        margin: 5px 0;
    }

    button {
        width: 100%;
    }

    .row.todo-container {
        width: 100%;
    }

    #new-todo, #date-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .snap-inline {
        display: flex;
        flex-direction: column;
    }

    .card-link {
        width: 100%;
    }
}
