.form-control {
    border: 1px solid rgb(226, 161, 40);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem black;
}

#importButton{
    background-color: #677b88;
    color: white;
    border-radius: 3px;
    padding: 3px 15px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 0 1px black;

}
#importButton:hover{
    box-shadow: 0 0 0 1px #ffffff;
}


/* Styles for the modal */

