.form-control {
    border: 1px solid rgb(226, 161, 40);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem black;
}

#importButton{
    background-color: #677b88;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 20px;
    cursor: pointer;
    box-shadow: 0 0 0 0.1rem black;

}
#importButton:hover{
    box-shadow: 0 0 0 0.1rem #ffffff;
}


/* Styles for the modal */

