main {
    margin: 0;
}
.logo {
    position: absolute; /* Position the logo relative to the page */
    top: 0px; /* Adjust top spacing */
    left: 10px; /* Adjust left spacing */
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Maintain a consistent size */
    width: auto;
}

.search {
    display: flex;
    width: 100%;
    justify-content:flex-end;
    height: 5%;
    margin: 0px;
}



.s-search {
    display: flex;
    width: 50%;
    margin-top: 5px;
    padding-right: 10px;

}

.location {
    display: flex;
    border-right:5px solid #DDDDDD ;
    flex-grow: 1;
    padding-left: 140px;
}

.request {
    flex-grow: 1;
}

button {
    border-radius: 45px;
    color: black;
    width: 150px;
    background-color: #B8DAF0;
    justify-self: flex-start;
    cursor: pointer;
    border: 1px solid rgb(12, 12, 12);
    box-shadow: 0px 0px 4px #47484b;
    /* box-shadow: 0px 0px 20px #3157aa */
}

button:hover {
    opacity: 0.7;
    border-radius: 50px;
}

.s-lab {
    display: flex;
    border: 1px solid #DDDDDD;
    justify-content: space-between;
    padding-bottom: 40px;
}

.s-lab article {
    border: 1px solid #DDDDDD;
    width: 400px;
}

/* Apply zebra striping to odd rows */


/* Apply zebra striping to even rows */
.table-striped tbody tr:nth-child(even) {
    background-color: rgb(184, 218, 240); /* Set the background color for even rows */
}

.form-row {
    color:  #9794cb;
}

 
   
.user_deck{
    display: flex;
    width: 450p;
}
.card-user{
    height: 450px;
}

.table-responsive {
    flex: 1 1 auto;
    min-height: 1px;
    border:5px solid rgba(131, 146, 212, 0.125);
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px #3157aa
}       

.required::after {
    content: " *";
    color: red;
}

