main {
    margin: 0;
}

.search {
    display: flex;
    width: 100%;
    justify-content:flex-end;
    height: 5%;
    margin: 0px;
}



.s-search {
    display: flex;
    width: 50%;
    margin-top: 5px;
    padding-right: 10px;

}

.location {
    display: flex;
    border-right:5px solid #DDDDDD ;
    flex-grow: 1;
    padding-left: 140px;
}

.request {
    flex-grow: 1;
}

button {
    border-radius: 45px;
    color: black;
    width: 150px;
    background-color: hsl(208, 56%, 67%);
    justify-self: flex-start;
    cursor: pointer;
    border: 1px solid rgb(62,128,185);
    box-shadow: 2px 2px 2px rgb(62,128,185);
}

button:hover {
    opacity: 0.7;
    border-radius: 50px;
}

.s-lab {
    display: flex;
    border: 1px solid #DDDDDD;
    justify-content: space-between;
    padding-bottom: 40px;
}

.s-lab article {
    border: 1px solid #DDDDDD;
    width: 400px;
}

/* Apply zebra striping to odd rows */


/* Apply zebra striping to even rows */
.table-striped tbody tr:nth-child(even) {
    background-color: rgb(184, 218, 240); /* Set the background color for even rows */
}

.form-row {
    color:  #9794cb;
}

.card-body  {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border:5px solid rgba(131, 146, 212, 0.125);
}       

.table-responsive {
    flex: 1 1 auto;
    min-height: 1px;
    border:5px solid rgba(131, 146, 212, 0.125);
    background-color: #f0f0f0;
}       

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}