.form-control {
    border: 1px solid rgb(62,128,185);
    box-shadow: 4px 4px 5px rgb(62,128,185);
    border-radius: 50px;
    padding: 10px 20px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem black;
}
/* * {
    display: flexbox;
    color: rgb(53, 28, 28);
} */
/* Styles for the modal */

body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}



.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.reset-input-style {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adds this line */
    /* Add any additional styling if needed */
}
.profile_input {
    border: #1a202c;
}

#image_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.three-dots-icon {
    cursor: pointer;
    font-size: 1.5em;
}
#upload_image {
    cursor: pointer;
}