  {% extends "base.html" %}
  {% block head %}
      {{ super() }}
      <link rel="stylesheet" href="../static/css/chat.css">
  {% endblock head %}

  {% block body %}
          <main>
            <h1>In progress</h1>
            <div class="container mt-5 mb-2">
              <div class="chat-header">LabPal</div>
              <div class="chat-messages">
                  <div class="chatbot-message" id="assitant">Hy, i'm your lab pal... <br> How can I help you?</div>
              </div>
              <div class="chat-input">
                  <input type="text" placeholder="..." id="prompt">
                  <button id="sendButton"><i class="fas fa-paper-plane"></i></button>
              </div>
            </div>
          </main>
  {% endblock %}
  
  {% block scripts %}
  <script src="../../static/static_for_gpt/js/gpt.js" type="text/javascript"></script>
  {% endblock %}