{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/static_for_gpt/chat.css">
{% endblock head %}

{% block body %}
    <main>
        <div class="chat-box">
            <div class="chat-header">
                <div class="icon-container">
                    <i class="fas fa-brain"></i>
                </div>
                <div class="loadergpt" id="loadingIndicatorgpt"></div> <!-- Loading indicator -->
            </div>
            <div class="chat-messages" id="chatMessages">
                <div class="chatbot-message">Hi, I'm Labpal, your assistant. How can I help you?</div>
                <!-- Chat messages will be appended here -->
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type your message..." id="prompt">
                <button id="sendButton">Send</button>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script src="../../static/static_for_gpt/gpt.js" type="text/javascript"></script>
{% endblock %}
