{% extends "templates_for_landingpage/landingbase.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/features.css">
{% endblock head %}
{% block body %}

    <section class="hero">
            <h1 id="hero-text">Your <span id="hero-pal">pal</span> for everything laboratory</h1>
            <a href="{{ url_for('views.home') }}" class="hero-btn">Get Started</a>
    </section>

    <section class="container-head">
        <h1 class="h1-text">Optimizing <span>Lab</span> Workflow & Management</h1>
        <p class="head-text">
            LabPal is a powerful laboratory management application designed to streamline lab operations, 
            enhance team collaboration, and improve efficiency. It enables seamless <strong>event recording</strong>, 
            facilitates real-time <strong>messaging</strong>, and optimizes <strong>inventory management</strong>.
        </p>
        <p class="head-text">
            With an intuitive interface and an <strong>AI Laboratory Assistant</strong>, LabPal provides valuable 
            scientific insights while ensuring smooth workflow automation. The <strong>notifications</strong> feature 
            keeps teams updated on inventory status, task assignments, and critical lab activities.
        </p>
    </section>

    <section id="features">
        <h1>Features</h1>
        <div class="features-container">
            <div class="feature-item">
                <img src="../../static/images/events.svg" alt="Feature One Image">
                <h3>Event recording and documenting</h3>
                <p>Support your team and transform your workflow with our event recording and documenting feature.</p>
                <!-- <a href="{{url_for('views.features', feature='event')}}">Explore features</a> -->

            </div>
            <div class="feature-item">
                <img src="../../static/images/messgaing.svg" alt="Feature Four Image">
                <h3>Messaging</h3>
                <p>Stay connected with our built-in messaging feature, enhancing communication within your team.</p>
                <!-- <a href="{{url_for('views.features', feature='messaging')}}">Explore features</a> -->
                <p style="color: rgb(204, 51, 51); font-weight: bold;">Feature coming soon...</p>
            </div>
            <div class="feature-item">
                <img src="../../static/images/inventory.svg" alt="Feature Two Image">
                <h3>Inventory management</h3>
                <p>Meet our inventory management system, designed to keep track of all your resources efficiently.</p>
                <!-- <a href="{{url_for('views.features' , feature='inventory')}}">Explore features</a> -->
            </div>
            <div class="feature-item">
                <img src="../../static/images/a.i.svg" alt="Feature Three Image">
                <h3>A.I Laboratory assistant</h3>
                <p>Our AI laboratory assistant helps you with relevant scientific information.</p>
                <!-- <a href="{{url_for('views.features', feature='gpt')}}">Explore features</a> -->
            </div>
        </div>

        <br>
    </section>

    <section id="pricing">
        <h1>Pricing</h1>
        <div class="pricing-table">
            <!-- <div class="pricing-card">
              <h2>Free</h2>
              <h2>Zero cost</h2>
              <h3 class="fas fa-user"> Up to 3 Users</h3>
              <h3 class="fas fa-clinic-medical"> And 1 Center</h3>
              <hr>
              <a href="{{ url_for('views.home') }}" class="btn btn-primary">Get started</a>
            </div>
          
            <div class="pricing-card">
              <h2>Basic</h2>
              <h2>Starting at ₦7500/month</h2>
              <h3 class="fas fa-user"> Up to 20 Users</h3>
              <h3 class="fas fa-clinic-medical"> And 5 Centers</h3>
              <hr>
              <a href="{{ url_for('views.home') }}" class="btn btn-primary">Get started</a>
            </div> -->
          
            <!-- Premium Plan -->
            <div class="pricing-card">
                <h2>Premium</h2>
                <h2>Starting at ₦20,000/month</h2>
                <h3 class="fas fa-user"> Up to 15 Users</h3>
                <h3 class="fas fa-building"> And 3 Centers</h3>
                <hr>
                <a href="{{ url_for('views.home') }}" class="btn dangle btn-primary">Get started</a>
            </div>

            <!-- Enterprice Plan -->
            <div class="pricing-card">
                <h2>Enterprise</h2>
                <h2>Contact us</h2>
                <h3 class="fas fa-user">Unlimited Users</h3>
                <h3 class="fas fa-building"> Unlimited Centers</h3>
                    <hr>
                <a href="{{ url_for('views.home') }}" class="btn dangle btn-primary">Get started</a>
            </div>
          </div>
    </section>

    <section class="demo-section">
        <div class="demo-container">
            <div class="demo-text">
                <h2>Experience Seamless workflow</h2>
                <p>Request a demo today and discover how our platform can transform your processes.</p>
                <p><span style="color: red;">30 days free trial</span> included!</p>
            </div>
            <form class="demo-form">
                <input type="text" name="name" placeholder=" Your Name" required>
                <input type="email" name="email" placeholder=" Your Email" required>
                <input type="text" name="company" placeholder=" Your Organisation Name" required>
                <input type="number" name="size" placeholder=" Your Organisation Size" required>
                    <!-- Google reCAPTCHA -->
                <div class="g-recaptcha" data-sitekey="6LcFKOcqAAAAACftbSZVeSbHeOMMxG3iWbvBMvdC"></div>    
                <button type="submit">Request a Demo</button>
            </form>
        </div>
    </section> 
       
    <div class="video-container">
        <h2>Watch how to get started</h2>
        <hr>
        <iframe width="200" height="500" src="https://www.youtube.com/embed?listType=playlist&list=PLV-rWFh5Ir3q_Qessg959_mrGmt1YTRFa" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
