{% extends "templates_for_landingpage/landingbase.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/features.css">
{% endblock head %}
{% block body %}

    <section class="hero"></section>
            <a href="{{ url_for('views.home') }}" class="hero-btn">Get Started</a>
    </section>

    <section id="features">
        <h1>Features</h1>
        <div class="features-container">
            <div class="feature-item">
                <img src="../../static/images/events.svg" alt="Feature One Image">
                <h3>Event recording and documenting</h3>
                <p>Support your team and transform your workflow with our event recording and documenting feature.</p>
                <!-- <a href="{{url_for('views.features', feature='event')}}">Explore features</a> -->

            </div>
            <div class="feature-item">
                <img src="../../static/images/messgaing.svg" alt="Feature Four Image">
                <h3>Messaging</h3>
                <p>Stay connected with our built-in messaging feature, enhancing communication within your team.</p>
                <!-- <a href="{{url_for('views.features', feature='messaging')}}">Explore features</a> -->
                <p style="color: rgb(51, 14, 14);">Still n progress...</p>
            </div>
            <div class="feature-item">
                <img src="../../static/images/inventory.svg" alt="Feature Two Image">
                <h3>Inventory management</h3>
                <p>Meet our inventory management system, designed to keep track of all your resources efficiently.</p>
                <!-- <a href="{{url_for('views.features' , feature='inventory')}}">Explore features</a> -->
            </div>
            <div class="feature-item">
                <img src="../../static/images/a.i.svg" alt="Feature Three Image">
                <h3>A.I Laboratory assistant</h3>
                <p>Our AI laboratory assistant helps you with relevant scientific information.</p>
                <!-- <a href="{{url_for('views.features', feature='gpt')}}">Explore features</a> -->
            </div>
        </div>

        <br>
    </section>
    <section id="pricing">
        <h1>Pricing</h1>
        <div class="pricing-table">
            <!-- Free Plan -->
            <div class="pricing-card">
              <h2>Free</h2>
              <h2>Zero cost</h2>
              <h3 class="fas fa-user"> Up to 3 Users</h3>
              <h3 class="fas fa-clinic-medical"> And 1 Center</h3>
              <hr>
              <a href="{{ url_for('views.home') }}" class="btn btn-primary">Get started</a>
            </div>
          
            <!-- Basic Plan -->
            <div class="pricing-card">
              <h2>Basic</h2>
              <h2>Starting at ₦7500/month</h2>
              <h3 class="fas fa-user"> Up to 20 Users</h3>
              <h3 class="fas fa-clinic-medical"> And 5 Centers</h3>
              <hr>
              <a href="{{ url_for('views.home') }}" class="btn btn-primary">Get started</a>
            </div>
          
            <!-- Premium Plan -->
            <div class="pricing-card">
                <h2>Premium</h2>
                <h2>Starting at ₦9500/month</h2>
                <h3 class="fas fa-user"> Up to 45 Users</h3>
                <h3 class="fas fa-clinic-medical"> And 15 Centers</h3>
                <h3 class="fas fa-microchip"> Custom trained AI Lab Assistant</h3>
                <hr>
                <a href="{{ url_for('views.home') }}" class="btn btn-primary">Get started</a>
            </div>

          
          </div>
    </section>
    <div class="video-container">
        <h2>Watch how to get started</h2>
        <hr>
        <iframe width="200" height="500" src="https://www.youtube.com/embed?listType=playlist&list=PLV-rWFh5Ir3q_Qessg959_mrGmt1YTRFa" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
