<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Clinicalx</title>
        <link rel="stylesheet" href="../static/css/body.css">
        <link rel="icon" type="image/png" href="#">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <!-- TypeHead CSS -->    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- table data boot -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" ></script>
        {% block head %} 
        {% endblock head%} 
    </head>
    <body>    
        <div class="row container-fluid">
            <!-- Sidebar -->
            <div class="" id="wrapper">
                <div class="bg-light border-right push-down1" id="sidebar-wrapper">
                    <div class="list-group list-group-flush tabs push-down1.2" >
                        <!-- <a href="http://13.53.70.208:8050/" class="list-group-item list-group-item-action bg-light">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a> -->
                        <a href="/inventory" id="inventory" class="list-group-item list-group-item-action bg-light">
                            <i class="fas fa-boxes icon"></i>
                            <span>Inventory</span>
                        </a>
                        <a href="/expiration" id="inventory" class="list-group-item list-group-item-action bg-light">
                            <i class="fas fa-calendar-times icon"></i>
                            <span>Expiration</span>
                        </a>
                        <a href="/in-use" class="list-group-item list-group-item-action bg-light">
                            <i class="fas fa-play"></i>
                            <span>In Use</span>
                        </a>
                        <a href="/channels" class="list-group-item list-group-item-action bg-light"  >
                            <i class="fas fa-road icon"></i>
                            <span>Channels</span>
                        </a>
                        <a href="/port" class="list-group-item list-group-item-action bg-light" >
                            <i class="fas fa-ship icon"></i>
                            <span>Port</span>
                        </a>
                        <a href="/chat" class="list-group-item list-group-item-action bg-light"  style="border-radius: 30px;">
                            <i class="fas fa-users icon"></i>
                            <span>Team</span>
                        </a>
                           <!--
                        <a href="/chat" class="list-group-item list-group-item-action bg-light"  style="border-radius: 30px;">
                            <i class="fas fa-comments"></i>
                            <span>Labpal</span>
                        </a> -->
                        <a href="/user-profile" class="list-group-item list-group-item-action bg-light">
                            <i class="fas fa-user icon"></i>
                            <span>User profile</span>
                            <!-- <div class="my-account">
                                <div class="image">
                                    <img src="https://secure.gravatar.com/avatar/de76e03aa6b5b0bf675c1e8a990da52f?s=64">
                                    <i class="fa fa-circle online"></i>
                                </div>
                                <div class="name">
                                    <span>Cucu Ionel</span>
                                    <i class="fa fa-angle-down"></i>
                                    <span class="availability">Available</span>
                                </div>
                            </div> -->
                        </a>
                    </div>
                </div>
            </div>
            <!-- Page Content -->
            <div class="bodyof">
                <nav class="search">
                    <form class="form-inline s-search">
                        <div class="location">
                            <input class="form-control mr-sm-2" type="search" id="InputItemMain" placeholder="Item" aria-label="Search">
                            <button class="btn btn-outline-danger my-2 my-sm-0"  type="submit">Search</button>
                        </div>
                    </form>
                </nav>

                <div class="bodyofbody">
                    {% block body %}
                    {% endblock %}
                </div>
                <footer>
                   
                </footer>
            </div>    
        </div>
        <!-- <script src="../static/jquery/jquery.js" type="text/javascript"></script> -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
        <script src="../static/handlebars/handlebars-v4.7.8.js" type="text/javascript"></script>
        <script src="../static/js/main.js" type="text/javascript"></script>
        <!-- <script src="../static/js/clock.js" type="text/javascript"></script> -->
        <!-- bootstrap 4.5 js    -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js" integrity="sha512-2QlM5mg7EfNpRUysHkWm3jV3rQYzbx2NBqB7Gv9CrzzY1OEOz4NYARxWWLw57So30o1JZRIiQUSpFW9qzCkOxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body> 

</html>