{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/expiration.css">
{% endblock head %}

{% block body %}
    <main>
        <div class="container mt-5 mb-2">
            <h1>Lots and Expiration</h1>
            <!-- <button  id="expire_b" ><i class="fas fa-database"></i> Expiring Items</button>
            <button  id="expire_b" ><i class="fas fa-database"></i> Return Expired</button> -->
            <div class="" id="drawer_expire">
                    <h6>Enter number of days to expiration</h6>
                    <input type="number" id="expiry_filter" placeholder="Number of Days">
                    <div class="table-responsive" id="ex-expire_table">
                        <table class="table table-bordered table-striped" id="expire_table">
                            <thead class="head thead-dark">
                                <tr id="expire_head">
                                <!-- Headers for the expired items table -->
                                </tr>
                            </thead>
                            <tbody id="expire_body" class="body">
                                <!-- Content for the expired items table will be populated dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="../static/js/expiration.js" type="text/javascript"></script>
{% endblock %}