{% extends "templates_for_landingpage/landingbase.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/features.css">
{% endblock head %}
{% block body %}
    <section>
        <h1>{{ heading }}</h1>
        <h1>Features</h1>
        <p>
            {{ features }}
        </p>
        <h1> Watch on Youtube</h1>
        <hr>    
        <iframe width="560" height="315" src="{{ link }}" title="{{ youtube_heading}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
{% endblock %}

