{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/port.css">
    <style>
        #drop-area {
            border: 2px dashed #ccc;
            padding: 20px;
            width: 500px;
            text-align: center;
            color: #ccc;
        }

        #file-input {
            display: none;
        }

      
    </style>
    </style>
{% endblock head %}
{% block body %}
        <main>
            <div class="col-9">
                <h1>Port</h1>
                        <button type="button" class="" id="exInUse"><i class="fas fa-download"></i><br>Export In Use Data</button>
                        <button type="button" class="" id="exchannel"><i class="fas fa-download"></i><br>Export Channels</button>
                        <button type="button" class="" id="exInVen"><i class="fas fa-download"></i> <br>Export Inventory</button>
                        <button onclick="openModal()" type="button" class="" id="imItems"><i class="fas fa-upload" onclick="openModal()"></i> <br> Import Items</button>
                        <button onclick="openModal()" type="button" class="" id="imChannels"><i class="fas fa-upload"></i> <br>Import Channels</button>
            </div>
            <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div onclick="document.getElementById('file-input').click();" id="drop-area" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
                        <p>Drag & Drop</p>
                        <input type="file" id="file-input" onchange="handleFileSelect(this.files)">
                    </div>
                </div>
                <button onclick="document.getElementById('file-input').click();">Browse</button>
            </div>
        </main>
{% endblock %}
{% block scripts %}
    <script src="../static/js/port.js" type="text/javascript"></script>
    <script>
        // JavaScript functions to open and close the modal
        function openModal() {
            console.log('open modal');
            $('#importModal').modal('show');
        }
    
        function closeModal() {
            document.getElementById('importModal').style.display = 'none';
        }
    </script>
    <script>
    function showFileDialog() {
        document.getElementById('file-input').click();
    }

    function handleFileSelect(files) {
    var fileList = document.getElementById('file-list');
        fileList.innerHTML = ''; // Clear previous files

        for (var i = 0; i < files.length; i++) {
            var listItem = document.createElement('li');
            listItem.innerHTML = files[i].name;
            fileList.appendChild(listItem);
        }

        // Close the modal after handling files
        closeModal();
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }
    </script>
{% endblock %}