{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/static_for_messenger/messenger.css">

{% endblock head %}

{% block body %}
<main>
    <div class="loading-spinner"></div>

    <div class="window-wrapper">
            <div class="conversation-list">
                <ul class="group">
                    <li><a href="#"><i class="fas fa-users"></i>Labz</a></li>
                    <ul class="potsContainer">
                        <!-- <li class="item active"><a href="#"><i class="fa fa-users"></i><span>Blaq pot</span><i class="fa fa-times"></i></a></li> -->

                        <!-- <li class="item active"><a href="#"><i class="fa fa-users"></i><span>Blaq pot</span><i class="fa fa-times"></i></a></li>
                        <li class="item active"><a href="#"><i class="fa fa-users"></i><span>Bad pot</span><i class="fa fa-times"></i></a></li> -->
                    </ul>
                </ul>
                <ul class="private">
                    <li class="item"><a href="#"><i class="fas fa-user"></i>Contacts</a></li>
                    <ul class="contactsContainer">
                        <!-- <li><a href="#"><i class="fas fa-circle online"></i></i><span>Cucu Ionel</span><i class="fas fa-times"></i></a></li>
                        <li><a href="#"><i class="fas fa-circle offline"></i></i><span>Ioana Marcu</span><i class="fas fa-times"></i></a></li> -->
                    </ul>
                </ul>
            </div>
            <!-- <div class="conversation-list"> >
                <ul class="">
                    <li class="item"><a href="#"><i class="fas fa-list-alt"></i><span>Direct Message</span></a></li>
                    <li class="item active"><a href="#"><i class="fas fa-user"></i><span>Team chat</span><i class="fas fa-times"></i></a></li>
                    <li><a href="#"><i class="fas fa-circle online"></i></i><span>Cucu Ionel</span><i class="fas fa-times"></i></a></li>
                    <li><a href="#"><i class="fas fa-circle offline"></i></i><span>Ioana Marcu</span><i class="fas fa-times"></i></a></li>
                </ul>
            </div> -->
            
            <div class="chat-area">
                <div>
                    <input class="s-input" type="search"><i class="fa fa-search"></i>
                </div>
                <div class="chat-list">
                    <ul>
                        <li class="">
                           
                        </li>

                    </ul>
                </div>
                <div class="input-area">
                    <div class="input-wrapper">
                        <input type="text" value="" class="send-input" style="width: 100%;">
                    </div>
                    <i class="fas fa-paperclip"></i>
                    <button type="button" value="Send" class="send-btn">Send
                    </button>
                </div>
            </div>
            <div class="right-tabs">
                <ul class="tabs">
                    <li class="active">
                        <a href="#"><i class="fa fa-users"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
                <ul class="tabs-container">
                    <li class="add-contact fa fa-plus"> <a href="#">Add contact</a></li>
                    <li class="contact-input-add" style="display: none;">
                        <input type="text" placeholder="Enter contact ID">
                        <button class="add-btn">Add</button>
                    </li>

                    <li class="delete-contact fa fa-x"> <a href="#">Delete contact</a></li>
                    <li class="contact-input-delete" style="display: none;">
                        <input type="text" placeholder="Enter contact ID">
                        <button class="delete-btn">Delete</button>
                    </li>
                    <hr>

                    <li class="create-pot fa fa-plus"> <a href="#">Create Pot</a></li>
                    <li class="pot-input-create" style="display: none;">
                        <input type="text" placeholder="Enter pot name">
                        <input type="text" id="pot-descrip" placeholder="Enter pot description">
                        <button class="create-pot-btn">Create</button>
                    </li>

                    <li class="join-pot fa fa-plus"> <a href="#">Join Pot</a></li>
                    <li class="pot-input-join" style="display: none;">
                        <input type="text" placeholder="Enter pot ID">
                        <button class="join-pot-btn">Join</button>
                    </li>

                    <li class="leave-pot fa fa-x"> <a href="#">Leave Pot</a></li>
                    <li class="pot-input-leave" style="display: none;">
                        <input type="text" placeholder="Enter pot ID">
                        <button class="leave-pot-btn">Leave</button>
                    </li>

                    <li class="delete-pot fa fa-x"> <a href="#">Delete Pot</a></li>
                    <li class="pot-input-delete" style="display: none;">
                        <input type="text" placeholder="Enter pot ID">
                        <button class="delete-pot-btn">Delete</button>
                    </li>
                </ul>
            </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="../../static/static_for_messenger/messenger.js" type="text/javascript"></script>
{% endblock %}