body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.timeline {
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
}

.timeline-item:before {
    content: '\2714'; /* Checkmark Unicode */
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensures the circles are above the line */
}

.timeline-item.completed:before {
    background-color: #008000;
    color: white;
}

.timeline-item.active:before {
    background-color: #ffd700;
    color: #333;
}

/* Add a line to pass through the checkboxes */
.timeline-item:after {
    content: '';
    position: absolute;
    left: -21px; /* Aligns with the center of the circle */
    top: 20px; /* Starts just below the circle */
    width: 2px;
    height: calc(100% + 20px); /* Extends the line */
    background-color: #ccc;
    z-index: 0; /* Ensures the line is below the circles */
}

.timeline-item:last-child:after {
    display: none; /* Remove the line for the last item */
}

#r_table tbody tr {
    cursor: pointer;  /* Change cursor to pointer */
}

#r_table tbody tr:hover {
    background-color: #a2b5c0;  /* Optional: Change background color on hover */
}