{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

{% endblock head %}

{% block body %}
<main>
    <div class="container mt-5">
        <h2 class="text-center">Request Pickup Tracking</h2>
        <div style="text-align: center;">
            <button type="button" class="" data-toggle="modal" data-target="#acceptModal">
                Accept
            </button>
            <button type="button" class="" data-toggle="modal" data-target="#assignModal">
                Assign
            </button>
            <button type="button" class="" data-toggle="modal" data-target="#pickUpModal">
                Pick up
            </button>
            <button type="button" class="" data-toggle="modal" data-target="#dropUpModal">
                Drop Off
            </button>
            <button type="button" class="" data-toggle="modal" data-target="#mappingModal">
                Shipment Mapping
            </button>
            <button type="button" class="" data-toggle="modal" id="dashboard">
                Dashboard
            </button>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Accept Request-pickup</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="logistics-form" class="mt-4">
                            <div class="form-group">
                                <label for="input-box">Request ID</label>
                                <input type="text" class="form-control" id="accept-request-id" placeholder="Enter request ID" required>
                            </div>  
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="accepted" class="">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Assign to pickup</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="logistics-form" class="mt-4">
                            <div class="form-group">
                                <label for="input-box">Request ID</label>
                                <input type="text" class="form-control" id="accept-request-id" placeholder="Enter request ID" required>
                                <br>
                                <input type="text" class="form-control" id="assign-rider" placeholder="Enter riders name" required>
                            </div>  
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="accepted" class="">Assign</button>
                    </div>
                </div>
            </div>
        </div>  
        <div class="modal fade" id="pickUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Pick Up Shipment</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="logistics-form" class="mt-4">
                            <div class="form-group">
                                <label for="input-box">Shipment ID</label>
                                <input type="text" class="form-control" id="pick-shipment-id" placeholder="Enter shipment ID" required>
                            </div>                      
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="pick-up" class="">Pick Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dropUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Drop off Sample Request</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="logistics-form" class="mt-4">
                            <div class="form-group">
                                <label for="input-box">Request ID</label>
                                <input type="text" class="form-control" id="drop-off-shipment-id" placeholder="Enter request ID" required>
                            </div>  
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="dropped-off" class="">Drop Off</button>
                    </div>
                </div>
            </div>
        </div>  


        <div class="modal fade" id="mappingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Shipment View</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <form id="plot-shipment-form">
                            <input type="text" id="shipment-id-input" placeholder="Enter Shipment ID">
                            <button type="submit">Map Shipment</button>
                        </form>
                        <br>
                        <div id="map" style="width: 100%; height: 500px;"></div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Track your order</h5>
                        <button type="button" class="" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <form id="plot-shipment-form">
                            <input type="text" id="shipment-id-input" placeholder="Enter Shipment ID">
                            <button type="submit">Track ID</button>
                        </form>
                        <br>
                        <div id="map" style="width: 100%; height: 500px;"></div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive" id ="ex-r_table">
                    <h4>Movement History</h4>

            <table class="table table-bordered table-striped" id="r_table">
                <thead class="head thead-dark">
                    <tr id="reports_h">
                    </tr>
                </thead>
                <tbody id="tbody" class="body" >
                    <tr id='reports_r'>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="location-status" class="mt-3"></div>


    </div>
</main>
{% endblock %}

{% block scripts %}
    <script src="../static/static_for_request_pickup/request-pickup.js" type="text/javascript"></script>

    <!-- Include Leaflet.js -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
{% endblock %}